body{
    margin: 80px;
}
.mg img{
    max-width: ;width: 100%;
    }
    #p{
        color: black;
        font-size: 1.2em;
        text-align: center;
    }
.p1{
    float: right;
    margin-right: 100px;
    margin-top: 5px;
    color: rgb(116, 16, 6);
}
h1{
    color: rgb(116, 16, 6);
    font-size: 2rem;
    text-align: justify;
}
.about{
    text-align: justify;
}
.about p{
    font-size: 1.2em;
}
h2{
    color: black;
    font-size: 1.5em;
}
.img .desc{
    transition: 1s;
}
.img .desc:hover{
    transform: scale(1.5);
}

div.img {
    margin: 10px;
    display: inline-block; 
    width: 20%;
    margin-left: 40px;
}	
.img img{
    transition: 1s;
}
.img img:hover{
    transform: scale(1.2);
}
.img p{
    transition: 1s;
}
.img p:hover{
    transform: scale(1.2);
}


div.img img {
    width: 100%;
    height: auto;
    border-radius: 35px;
}
div.desc {
    padding: 15px;
    text-align: center;
}
.meg,img{
    display: inline-block;
    margin: 20px;
    margin-left: 5px;
}
div.card{
    margin: 10px;
    display: inline-block;
    width: 10%;
    margin-left: 50px;
}
.card p{
    text-align: center;
    font-size: small; 
}
.soc,
img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-right: 0.5em;
    color: rgb(23, 99, 129);
}
.cont a{
    text-decoration: none;
    color: rgb(23, 99, 129);
}
.soc img:hover{
    filter: invert();
}
@media screen and (max-width: 500px) {

  body{
      margin: 20px;
      
  }
  .mg img{
width: 100%;
}

#p{
        color: gray;
        font-size: smaller;
        text-align: center;
}
.meg{
    display: inline-block;
    margin: 20px;
    margin-left: 20px;
}
div .img{
    width: 80%;
    height: auto;
    border-radius: 35px;
}
.img img:hover{
    transform: scale(1);
}
.img p:hover{
    transform: scale(1);
}
div.img .desc:hover{
    transform: scale(1);
}
}