.fluid{
    margin: 80px;
}
.log img{
margin-left: 100px;
margin-top: -80px;
}
hr{
    background-color: rgb(116, 16, 6);
     width: 25%;
     float: left;
     height: 8px;
     margin: 10px;
     margin-left: 60px;
     border-radius: 5px;
}
.p1{
    float: right;
    margin-right: 100px;
    margin-top: 5px;
    color: rgb(116, 16, 6);
}
h1{
    color: rgb(23, 99, 129);
    font-size: 2rem;
}
.about{
    text-align: justify;
}
.about p{
    font-size: 1.2em;
}
h2{
    color: rgb(116, 16, 6);
}

div.img {
    margin: 15px;
    border-radius: 15px solid #ccc;
    display: inline-block; 
    width: 20%;
    margin-left: 40px;
}	


div.img img {
    width: 100%;
    height: auto;
    border-radius: 35px;
}
div.desc {
    padding: 15px;
    text-align: center;
}
div.meg{
    margin: 10px;
    display: inline-block;
    width: 10%;
    margin-left: 50px;
}
div.us{
    padding: 15px;
    text-align: center;
}
@media only screen and (max-width: 500px),only screen and (max-device-width: 500px){

    .fluid{
        margin: 40px;
    }
.p1,p1{
text-align: justify;
font-size: 10px;
margin-left: 70px;
position: absolute;
margin-top: 10px;
    }
    hr{
       display: none;
    }
    .mg{
        font-size: 20px;
    margin-left: 50px;
    width: 100%;
    }

}