.fluid{
    margin: 80px;
}
.log img{
margin-left: 100px;
margin-top: -80px;
}
hr{
    background-color: rgb(116, 16, 6);
     width: 25%;
     float: left;
     height: 8px;
     margin: 10px;
     margin-left: 60px;
     border-radius: 5px;
}
.p1{
    float: right;
    margin-right: 100px;
    margin-top: 5px;
    color: rgb(116, 16, 6);
}
h1{
    color: rgb(23, 99, 129);
    font-size: 2rem;
}
.about{
    text-align: justify;
}
.about p{
    font-size: 1.2em;
}
h2{
    color: rgb(116, 16, 6);
}

div.img {
    margin: 10px;
    display: inline-block; 
    width: 20%;
    margin-left: 40px;
}	


div.img img {
    width: 100%;
    height: auto;
    border-radius: 35px;
}
div.desc {
    padding: 15px;
    text-align: center;
}
div.meg{
    margin: 10px;
    display: inline-block;
    width: 10%;
    margin-left: 50px;
}
.meg p{
    font-size: small; 
    font-weight: bold;
}
div.us{
    padding: 15px;
    text-align: center;
}
div .can{
    padding: 15px;
    text-align: center;
}
div .uk{
    margin-left: 55px;
}

.soc,
img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-right: 0.5em;
    color: rgb(23, 99, 129);
}
.cont a{
    text-decoration: none;
    color: rgb(23, 99, 129);
}
.cont a:hover{
    color: rgb(116, 16, 6);
}
@media only screen and (max-width: 500px),only screen and (max-device-width: 500px){

    .fluid{
        margin: 40px;
    }
    .mg{
        width: 100%;
        height: auto;
    }
    .meg,img,p{
        display: column;
       margin: 15px;
    }
    div.img {
        width: 80%;
    }	
    
.log,
p{
    font-size: small;
}
.p1,p1{
    display: none;

    }
    hr{
       display: none;
    }
    .mg{
        margin-top: 60px;
        font-size: 20px;
    margin-left: 50px;
    max-width: 100%;
    }
    div.us{
        padding: 15px;
        text-align: center;
    }
    div .us,
    .meg{
        margin: 0px;
        display: contents;
        text-align: center;
    }
    div .can{
        padding: 15px;
        text-align: center;
    }
    div .can,
    meg{
        margin: 0px;
        display: contents;
        text-align: center; 
    }
    .soc,
img {
     margin: 4px;    
     text-align: center;
}

}